<header>
  <div class="custom-container">
    <div class="header-wrapper">
      <div class="logo">
        <a href="/"><img src="../../../assets/images/citadeal-logo.png" alt=""></a>
      </div>
      <nav>
        <ul class="first-list">
          <li><a class="active"  routerLink = "/">Download the app</a></li>
          <li><a  routerLink = "/">Sell on Citadeal</a></li>
        </ul>
        <ul class="second-list">
          <li><a (click)="login()" routerLink = "/">Login</a></li>
          <li class="register"><a  routerLink = "/">Register</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
