<div class="register-success">
  <div class="title">
    <h2>You're all set!</h2>
    <p class="caption">
      Congrats! Your store is set up. Now, it's time to onboard and discover your
      store. It will take you 10 to 15 minutes
    </p>
  </div>
  <div class="content">
    <p>During this onboarding session, you'll learn how to:</p>

    <ol>
      <li>Check your store informations</li>
      <li>Add your staff</li>
      <li>Add your products and you are all set !</li>
    </ol>
  </div>
  <div class="register-action">
    <button class="onboard" (click)="login()">Onboard</button>
    <button class="later" (click)="goToHome()">Do it later</button>
  </div>
</div>
