<div class="payment-info-wrap">
  <div class="top-payment-header">
    <div class="left-top-text">
      <span>
        <img *ngIf="isTabOpen == false" src="../../../../assets/images/plus.png" alt="" (click)="tabAction(true)">
        <!-- Add - img below -->
        <img *ngIf="isTabOpen == true" src="../../../../assets/images/minus.png" alt="" (click)="tabAction(false)">
      </span>
      <h2>Iban information </h2>
    </div>
  </div>
  <form style="display: block;" *ngIf="isTabOpen">
    <div class="payment-info-form row">
      <div class="payment-form-fields col-12 col-lg-4" *ngIf="cardInfo;else addCard">
        <div class="payment-form-fields__inner">


          <span class="edit-icon" (click)="deleteAction()">
            <span class="material-icons">
              delete
            </span>
          </span>
          <h3>Iban #</h3>
          <div class="payment-card">
            <span class="payment-card-text">
              <p placeholder="IBAN"></p>
            </span>
          </div>
        </div>
      </div>
      <ng-template #addCard>
        <button class="custom-btn" (click)="addAction()">Add</button>
      </ng-template>
    </div>
  </form>
</div>
