<div class="main-heading">
  <h1>{{tagForm.get('id').value>0?'Edit Option':'Add Option'}}</h1>
</div>
<div class="content-container">
  <div class="form-container">
    <h3>Option</h3>
    <form [formGroup]="tagForm">
      <div class="content">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" formControlName="name" />
      </div>
      <div class="submit-section">
        <button class="button button-primary" type="button" (click)="save()">Save</button>
        <button class="button button-cancel" type="button" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
