<!-- <app-dashboard-header>

</app-dashboard-header> -->
<div class="inner-container">
    <div class="jumbotron mt-3">
      <h1>OAuth Client Demo</h1>
      <p class="lead">OAuth/OpenID Connect Demo using Angular, ASP.NET Core and IdentityServer 4</p>
      <a class="btn btn-lg btn-primary" routerLink="/register" role="button">Signup &raquo;</a>
      <a class="btn btn-lg btn-primary ml-4" (click)="login()" role="button">Login &raquo;</a>
      <a class="btn btn-lg btn-primary ml-4" routerLink="/template" role="button">Temlates &raquo;</a>
      <a class="btn btn-lg btn-primary ml-4" routerLink="/options" role="button">options &raquo;</a>
      <a class="btn btn-lg btn-primary ml-4" routerLink="/categories" role="button">categories &raquo;</a>
      <a class="btn btn-lg btn-primary ml-4" routerLink="/informations" role="button">Informations &raquo;</a>
    </div>
</div>

