<div mat-dialog-content>
  <div class="card-payment-popup">
    <h2>
      <span *ngIf="calledFor == 'add'"> Add a</span>
      <span *ngIf="calledFor == 'update'"> Edit </span>
      Bank account
    </h2>
    <form [formGroup]="paymentForm">
      <div class="popup-body">
        <div class="card-third">
          <h3>Bank Account</h3>
        </div>
        <div class="card-third-wrap" formGroupName="bank">
          <div class="card-third-fields">
            <label for="">Account number</label>
            <input type="text" placeholder="xxxx xxxx xxxx xxxx" >
          </div>
          <div class="card-third-fields">
            <label for="">IBAN</label>
            <input type="text" placeholder="xxxx xxxx xxxx xxxx" formControlName="iban">
          </div>
          <div class="card-third-fields">
            <label for="">BIC</label>
            <input type="text" placeholder="xxxx xxxx xxxx xxxx" formControlName="bic">
          </div>
        </div>
        <div class="card-third-btns">
          <button *ngIf="calledFor == 'add'" (click)="onSubmit()"> Add </button>
          <button *ngIf="calledFor == 'update'" (click)="onSubmit()"> Save </button>
        </div>
      </div>
    </form>
  </div>
</div>
